:root{
  --maincolor:#22332a;
  --secondcolor:rgb(135, 160, 150);
  --activecolor:rgba(13, 61, 31, 0.686);
  --fontcolor:white;
  --flex:flex;

  --relative:relative;
  --absolute:absolute;
  --height-form:60px;
  --form-left:30%;
  --input-height:50px;
  --input-width:100px;
  --input-sizefont:25px;
  --input-text:center;

  --prop-algin:center;
  --prop-position:relative;
  --prop-top:25px;
  --prop-left-pad:5px;
}

